<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <section class="headerup">
    <header class="headergeral">
        <figure>
            <img src="charityclosetlogo.png" id="logoheader">
        </figure>
        <section class="linksheader">
            <a href="home.html">HOME</a>
            <a href="ong.html">ONGS</a>
            <a href="sobrenos.html">SOBRE NÓS</a>
            <a href="contato.html">CONTATO</a>
            <a href="politica.html">POLÍTICA</a>
        </section>
        <section class="logincadastroheader">
            <a id="logbut" href="login.html">LOGIN</a>
            <a id="logbut" href="cadastro.html">CADASTRE-SE</a>
        </section>
    </section>
    <figure>
        <img src="gradientcc.jpeg" id="gradiente">
    </figure>
    </header>


<figure class="coracao">
    <img src="shortlogocharitycloset.png" id="shortlogo">
</figure>

    <div class="formulario">
        <h1 id="charityclosetform">Charity Closet</h1>
    <h1 id="cadastrotitle">Cadastro</h1>
    <form class="form" method="POST">
        <content>
            <div class="formpart1">
                <label for="nome">Nome:</label><p>
                <input type="text" id="nome" name="nome" required placeholder="nome"><br><br>

                <label for="sobrenome">Sobrenome:</label><p>
                <input type="text" id="sobrenome" name="sobrenome" required placeholder="sobrenome"> <br><br>

                <label for="email">Email:</label><p>
                <input type="email" id="email" name="email" required placeholder="email@email.com"><br><br>

                <label for="telefone">Telefone:</label><p>
                <input type="tel" id="telefone" name="telefone" required placeholder="11 11111-1111"><br><br>

                <label for="cpf">CPF:</label><p>
                <input type="text" id="cpf" name="cpf" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="123.456.789-00"><br><br>

                <label for="uf">UF:</label><p>
                    <select id="uf" name="uf" required>
                        <option value="" disabled selected>Selecione a UF</option>
                        <option value="AC">São Paulo</option>
                        <option value="AL">Rio de Janeiro</option>
                        <option value="AM">Minas Gerais</option>
                    </select><br><br>

            </div>
                <div class="formpart2">
                <label for="cep">CEP:</label><p>
                <input type="text" id="cep" name="cep" required placeholder="00000-000"><br><br>

                <label for="logradouro">Logradouro:</label><p>
                <input type="text" id="logradouro" name="logradouro" required placeholder="endereço"><br><br>

                <label for="data_nascimento">Data de Nascimento:</label><p>
                <input type="date" id="data_nascimento" name="data_nascimento" required ><br><br>

                <label for="senha">Senha:</label><p>
                <input type="password" id="senha" name="senha" required placeholder="senha" ><br><br>

                <label for="senha">Confirme a Senha:</label><p>
                <input type="password" id="senha" name="senha" required placeholder="senha" ><br><br>


            </div>
        </content>

        <input type="submit" value="CADASTRAR" id="botaodeenvio">
    </form>
</div>
</body>
</html>
