.editar_perfil {
    background-color: #181818;
    margin: 0;
    text-align: center;
    padding: 5%;
}

.formulario-section{
    margin-top: 5%;
}


#imgongcapa{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px ;
    filter: brightness(0.9);
    
}

#picture__input {
    display: none;
}


#picture__input2 {
    display: none;
}

.pic {
    display: flex;
    justify-content: center;
}

.picture{
    display: flex;
    align-items: center;
    aspect-ratio: 16/9;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    background: #ddd;
    color: #aaa;
    border: 2px dashed currentColor;
    border-radius: 100% ;
    cursor: pointer;
    transition: color 500ms ease-in-out, background 500ms ease-in-out;
    outline: none;
    z-index: 2;
}

.picture:hover{
    color: #777;
    background: #ccc;

}

.picture:active {
    background: #eee;
    border-color: #8224fe;
    color: #8224fe;
    box-shadow:  2px 2px 15px 10px #8224fe4f;
}

.picture:focus {
    background: #eee;
    border-color: #8224fe;
    color: #8224fe;
    box-shadow: 0 0 15px  #8224fe4f;
}

.picture__img{
    width: 20rem;
    height: 20rem;
    border-radius: 100% ;
    
}

.controler_perfil{
    z-index: 0;
}


.formulario-section {
    background-color: #fff;
    padding: 50px;
    width: 60%;
    margin-left: 20%;
    border-radius: 25px;
}

#desc-h1 {
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
}

#title-form {
    text-align: center;
}

.form {
    text-align: left;
    
}

.inputs-form {
    margin-top: 50px;
    display: flex;
    padding: 10% 0%;
}

#nome-input {
    font-size: 20px;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-color: #8224fe;
    background-color: #fff;
    color: #8224fe;
    font-weight: 600;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent
}

input:focus {
    outline: none;
}

.form-2__inputs  {
    padding-left: 10px;
    padding-right: 10px;
    width: 96%;
    border-color: #8224fe;
    background-color: #fff;
    color: #8224fe;
    font-weight: 600;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    box-sizing: border-box;
}

.form-3__inputs {
    padding-left: 10px;
    padding-right: 10px;
    width: 96%;
    border-color: #8224fe;
    background-color: #fff;
    color: #8224fe;
    font-weight: 600;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    box-sizing: border-box;
}



label {
    margin-bottom: 20px;
}

.form-1 {
    display: grid;
    border-left: #fff;
    border-top: #fff;
    border-bottom: #fff;
    border-style: solid;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

.form-2  {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
 
}

.form-3 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

#cnpj {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-color: #8224fe;
    background-color: #fff;
    color: #8224fe;
    font-weight: 600;

}

#checkbox {
    margin-right: 15px;
}

.checkbox-div {
    display: flex;
}

#textarea-form {
    resize: none;
    padding: 5px;
    border: #8224fe;
    border-style: solid;
    border-radius: 10px;

}

.endereco-div {
    display: grid;
}

#end {
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-color: #8224fe;
    background-color: #fff;
    color: #8224fe;
    font-weight: 600;
}

#label-end {
    font-size: 20px;
    margin-top: 20px;
}

.btn-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-form {
    background: linear-gradient(to right, #707cff 5%, #f952ff 100%);
    background-color: #707cff;
    border-radius: 16px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 5px 38px;
    text-decoration: none;
    border: none;
    margin-top: 40px;
}

.botao-form:hover {
    background: linear-gradient(to right, #f952ff 5%, #707cff 100%);
    background-color: #f952ff;
    transition-duration: 0.5s;
    transform: scale(1.1);

}

#link-form {
    background: linear-gradient(to right, #707cff 5%, #f952ff 100%);
    background-color: #707cff;
    border-radius: 16px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 8px 38px;
    text-decoration: none;
    border: none;
    margin-top: 40px;
    margin-left: 20px;
}

#link-form:hover {
    background: linear-gradient(to right, #f952ff 5%, #707cff 100%);
    background-color: #f952ff;
    transition-duration: 0.5s;
    transform: scale(1.1);
}

@media (max-width:1131px) {
    .formulario-section {
        margin-top: 15%;
    }
}
