
.cabecalho {
    background-color: black;
    box-shadow: 0px 3px 10px rgba(22, 22, 22, 0.541);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 999;
}


.nav__bar{
    display: flex;
    justify-content: space-between;
    padding: 0rem 6rem;
    align-items: center;
} 

.logo{
    display: flex;
    align-items: center;
}

.nav__list{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.nav__list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5rem;
}

.nav__item {
    margin: 0 15px;

}

.nav__link {
    text-decoration: none;
    font-size: 1.15ren;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
}

.nav__link1{
    opacity: 0;
}

.nav__link:hover {
color: #8224fe;
transition-duration: 1s;
text-decoration: underline;
text-underline-offset: 10px;
}

.login__button  {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login__button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.mobile__menu__icon {
    display: none;
}

.mobile__menu {
    display: none;
}

#pesquisa {
border-radius: 1.5rem;
border: none;
margin: 0;
box-sizing: border-box;
   
}

.buscar {
    background-color: #fff;
    width: 40%;
    height: 25%;
    border-radius: 1.5rem;
    
}

.icon__buscar {
    background: transparent;
    border: none;
    ;
}

#loginbuttonheader{
    text-decoration: none;
    color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
    white-space: nowrap;
    font-size: 16px;
    line-height: 55px;
    margin-left: 2em;
}

#loginbuttonheader:hover{
    color: #8224fe;
    transition-duration: 1s;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#btn__login{
    border-radius: 1.5rem;
    width: 50%;
    height: 25%;
}

#configicon {
    filter: invert(18%) sepia(82%) saturate(6310%) hue-rotate(266deg) brightness(101%) contrast(99%);
    width: 20px;
    margin-left: 30px;
}

#configicon:hover{
    filter: invert(100%);
    transition-duration:0.3s ;
}

@media screen  and (max-width: 730px) {
    .nav__bar {
        padding: 1.5rem 4rem;
    }
    .buscar .icon__buscar{
        display: none;
    }
    .nav__item {
        display: none;
    }

    .login__button {
        display: none;
    }

    .mobile__menu__icon {
        display: block;
    }

    .mobile__menu__icon button  {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile__menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile__menu .nav__item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile__menu .login__buttom {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile__menu .login__buttom button {
        width: 100%;
    }
}