@font-face {
    font-family: "SoDo Sans SemiBold";
    src: url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot");
    src: url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.svg#SoDo Sans SemiBold")format("svg");
}

ul {
    margin: 0px;
    padding: 0px;
}

#logo {
    display: block;
}

#itens{
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration:none ;
    font-family: "SoDo Sans SemiBold";
    margin-top: 1em;
}

#itens:hover{
    border-bottom: 1px solid #8224fe;
    padding-bottom: 1px;
    transition: 0.5s;
}

#cabecalho{
    box-sizing: border-box;
    left:0;
    right: 0;
    z-index: 999;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000000;
    position: fixed;
}

#menu {
    display: flex;
    list-style: none;
    gap: 5rem;
}

#menu a {
    display: block;
    padding: .5rem;
} 

.btn-entrar {
    letter-spacing: 0.1em;
    font-weight: 400;
    transition: 0.5s;
    border-radius: 15px;
    padding-left: 10px;
}

.btn-entrar:hover {
    background: linear-gradient(to right, #707bff, #fa52ff);
    letter-spacing: 0.25em;
    box-shadow: 0 0 25px #707bff;
}

#btn-mobile {
    display: none;
}

@media (max-width: 800px) {
    #cabecalho{
        position: fixed;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #181818;
       height: 0px;
       transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu #itens {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 238, 238, 0.404);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        gap: .5rem;
    }

    #hambuguer {
        display: block;
        border-top: 2px solid #ffffff;
        width: 20px;
    }

    #hambuguer::after,  #hambuguer::before {
        width: 20px;
        content: '';
        display: block;
        height: 2px;
        background: white;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hambuguer {
        border-top-color: transparent;
    }

    #nav.active #hambuguer::after {
      transform: rotate(-135deg);
      top: -7px;
    }

    #nav.active #hambuguer::before {
      transform: rotate(135deg);
    }

    .btn-entrar{
        text-align: center;
    }
}

@media (max-width: 1132px) {
    #cabecalho{ flex-wrap: wrap;
    padding: 0px;
    height: 100px;
    }
}