@import url(header.css);
@import url(footer.css);

:root {
    --cor-de-fundo: #222020;
    --cor-de-fundo-secundario: #E8E3E3;
    --branco: #ffffff;
    --preto: #000000;
    --titulo-homepage:#fff;
    --roxo-destaque:#8224fe;

}

.principal {
    background-color: black;
    padding: 5%;
}

body {
    background: var(--cor-de-fundo);
    color: var(--branco);
    
}

.container__principal {
    background: linear-gradient(to right, #707bff, #fa52ff);
    background-size: cover;
    padding: 10%;
    text-align: center;
    margin-top: 2rem;
    border-radius: 25px 25px 0px 0px;
}

#texto__sobre {
    color: var(--branco);
    font-weight: 100;
    font-size: 1rem;
   
    
}

#texto__sobrenos {
    font-weight: 600;
    font-size: 3rem;
    color: var(--branco);
    transition: 0.3s;
}


.container__secundario {
    background-color: #181818;
    color: var(--branco);
    padding: 5% 5%;
    text-align: center;
}

#cahrity_closet {
    font-weight: 600;
    font-size: 2rem;
    color: var(--branco);
    text-align: left;

}


#texto__charity {
    color: var(--branco);
    font-size: rem;
    padding: 1%;
}

.container__terceario {
    background-color:var(--preto) ;
    color: var(--branco);
}

#texto__3 {
    color: var(--branco);
    font-size: 2rem;
    font-weight: bolder;
}

#texto__topico__3 {
    color: var(--branco);
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    padding:0;
}

#teste {
    font-size: 1.5rem;
    color: var(--branco);
    width: 75%;
    padding: 0.5% 2%;
}

#texto__topico__4 {
    color: var(--branco);
   font-weight: 600;
    font-size: 2rem;

}

#texto__4 {
    color: var(--branco);
    font-size: 1.5rem;
    padding: 0% 2%;
}

.textos3 {
    padding: 2%;
    color: var(--branco);
}

.textos4 {
    padding: 2%;
    color: var(--branco);
}

.container__quarteario {
    background: var(--cor-de-fundo);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 3%;
    gap: 15rem;
    border-radius: 25px;

    -webkit-box-shadow: 0px 68px 221px -43px rgba(130, 36, 254, 1);
    -moz-box-shadow: 0px 68px 221px -43px rgba(130, 36, 254, 1);
    box-shadow: 0px 68px 221px -43px rgba(130, 36, 254, 1);

}

.textos5 {
    color: var(--branco);
    width: 100%;
    padding: 0px
}

strong {
    font-weight: 600;
    color: var(--branco);
}

.efeito__texto {
    transition: 0.3s;
}



#logoods {
    display: grid;
    border-radius: 10px;
  
}

.img__ods {
   display: grid;
    gap: 2%;

}


.div-gradiente-home{
    background: linear-gradient(to right, #707bff, #fa52ff);
    width: 100%;
    height: 20px;
    margin-top: -10px;
    margin-left: 0;
    box-shadow: 10px 10px 61px 10px #8224fe;
}

#logoods{
    width: 15rem;
}

#texto{
    color: #fff;
    font-size: 1.5em;
    text-align: left;
}

@media (max-width:800px) {
    .container__quarteario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}