@import url(header.css);
@import url(footer.css);

:root {
    --cor-de-fundo: #393E46;
    --cor-de-fundo-secundario: #E8E3E3;
    --branco: #ffffff;
    --preto: #000000;
    --titulo-homepage:#fff;
    --roxo-destaque:#8224fe;

}

body {
    background: var(--cor-de-fundo);
    color: var(--branco);
    
}

.container__principal {
    background-image: url(../assets/fundo_sobre_nos.webp);
    background-size: cover;
    padding: 21%;
    text-align: center;
    filter: brightness(50%);
}

#texto__sobre {
    color: var(--branco);
    font-weight: 100;
    font-size: 0.6rem;
   
    
}

#texto__sobrenos {
    font-weight: 600;
    font-size: 3rem;
    color: var(--roxo-destaque);
    transition: 0.3s;
}

#texto__sobrenos:hover {
    transform: scale(1.3);
}

.container__secundario {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    padding: 5% 5%;
    text-align: center;
}

#cahrity_closet {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--branco);

}


#texto__charity {
    color: var(--branco);
    font-size: 1rem;
    padding: 1%;
}

.container__terceario {
    background-color:var(--preto) ;
    color: var(--branco);
}

#texto__3 {
    color: var(--branco);
    font-size: 1.5rem;
    padding: 2%;
}

#texto__topico__3 {
    color: var(--branco);
    font-weight: 600;
    font-size: 4rem;
}

#teste {
    font-size: 1.2rem;
    color: var(--branco);
    width: 75%;
    padding: 0.5% 2%;
}

#texto__topico__4 {
    color: var(--branco);
   font-weight: 600;
    font-size: 2rem;
    padding: 1% 2%;

}

#texto__4 {
    color: var(--branco);
    font-size: 1.5rem;
    padding: 0% 2%;
}

.textos3 {
    padding: 2%;
    color: var(--branco);
}

.textos4 {
    padding: 2%;
    color: var(--branco);
}

.container__quarteario {
    background: var(--cor-de-fundo)
}

.textos5 {
    color: var(--branco);
    width: 50%;
    padding: 0% 2%;
}

strong {
    font-weight: 600;
    color: var(--branco);
}

.efeito__texto {
    transition: 0.3s;
}

.efeito__texto:hover {
    transform: scale(0.9);
}