.main-users{
    text-align: center;
    padding: 5%;
    background-color: #181818;
}

#title-main{
    color:#fff;
    font-weight: normal;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    gap: 8rem;
    
}

.icons{
    display: grid;
}

#icon-img{
    width: 4em;
    filter: invert(100%);
    padding: 0.5em;
    border-style: solid;
    border-width: 2px;
    border-radius: 100% ;
    border-color: rgb(0, 0, 0);
}

.icon-img-ativo {
    border-style: double ;
}

#title-icon{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding-top: 5%;
}

.gerenciamento{
    background-color: #fff;
    float: right;
    overflow-x: auto;
    padding: 2em;
    border-radius: 10px;
    
}



.thead{
    font-weight: bold;
    margin-bottom: 5em;

}


.demo th {
    border:1px Nenhum #707bff;
    padding:1em;
    background:#fff;
    font-weight: bold;
    font-size: 1em;
}
.demo td {
    border:1px Nenhum #707bff;
    padding: 1em;
}

select{
    background-color: #000;
    color:#fff;
    border-style: none;
    border-radius: 5px;
}


#input {
    display: none;
}

.btn-user {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:1097px)  {
    .main-users {
        display: grid;
    }

    .conteudo{
        display: grid;
    }

    .icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
} 

