<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style/homepage.css" rel="stylesheet">
    <link href="../style/header.css" rel="stylesheet">
    <link href="../style/footer.css" rel="stylesheet">
    <link href="../style/reset.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Home | Charity Closet</title>
</head>
<body>

    <header class="headergeral">

        <div class="container text-center">
            <div class="row">
              
              <div class="col">
                <ul class="linksheader">
                    <li id="linknord"><a id="linkheader" href="homepage.html">Home</a></li>
                    <li id="linknord"><a id="linkheader" href="sobrenos.html">Sobre Nós</a></li>
                    <li id="linknord"><a id="linkheader" href="homepage.html">Objetivo</a></li>
                    <li id="linknord"><a id="linkheader" href="homepage.html">ONGS</a></li>
                </ul>
              </div>
              <div class="col">
                <figure class="logoheader">
                    <img src="../assets/shortlogocharitycloset.png" id="logoheader">
                </figure>
              </div>

              <div class="col">
                <div class="barradepesquisa">
                <input type="text" placeholder="Pesquisar" id="buscarheader">
                <button type="submit" id="botaoenviarheader">
                  <img id="buscaricon" src="../assets/buscaricon.png">
                </button> 
              </div>
              </div>

              <div class="col">
                <div class="loginheader">
                    <a id="loginbuttonheader" href="login.html">Entrar</a>
                    <a id="loginbuttonheader" href="cadastrochoice.html">Registrar</a>
                    <a id="configheader">
                      <img id="configicon" src="../assets/configicon.png">
                    </a>
                </div>
              </div>

            </div>
          </div>

    </header>

    <main class="mainhome">
      <section class="parte1home">
        <div class="titulo1home">
          <h1 id="titulo1-1">
            Charity Closet
          </h1>
        </div>
        <div class="teste">
        <div class="doeaquihome">
          <h1 id="text-doe">
            Doe roupas hoje!
          </h1>
          <h3 id="desc-doe">
            Faça a diferença na vida de alguém doando para o nosso closet da solidariedade. Sua contribuição pode proporcionar calor e conforto.
          </h3>
          <h1 id="link-button-doe">
            <a href="ongs.html" id="link-doe">Encontre uma ONG</a>
          </h1>
        </div>
        </div>
      </section>

      <section class="oddshome">
        <img src="../assets/roupashome.png" id="roupahome">
        <h1 id="title-odds">
          O projeto Charity Closet, uma inovadora aplicação desenvolvida para promover a conexão entre organizações não-governamentais (ONGs) e potenciais doadores de roupas, abraça os princípios fundamentais das Metas de Desenvolvimento Sustentável (ODS) estabelecidas pela ONU para 2030. Ao facilitar a doação de roupas e sua redistribuição para indivíduos em situação de vulnerabilidade, o projeto toca em várias ODS, promovendo um impacto social e ambiental significativo. 
        </h1>
      </section>

      <section class="onu">
        <div class="odslogos">
          <img src="../assets/ods1.png" id="logoods">
          <img src="../assets/ods10.png" id="logoods">
          <img src="../assets/ods12.png" id="logoods">
          <img src="../assets/ods17.png" id="logoods">
        </div>
        <div class="desc-ods">
          <details>
          <h2 id="text-desc-ods">
            ODS 1: Erradicação da Pobreza - O projeto se alinha diretamente com a ODS 1, pois visa ajudar as pessoas carentes ao fornecer-lhes roupas que podem melhorar sua qualidade de vida e autoestima. Ao ligar doadores a ONGs, o Charity Closet contribui para aliviar a pobreza e reduzir as disparidades socioeconômicas. 
          </h2>
          <hr>
          <h2 id="text-desc-ods">
            ODS 10: Redução das Desigualdades - Ao enfocar a doação de roupas para pessoas necessitadas, o projeto aborda a ODS 10, buscando diminuir as desigualdades sociais. Isso é especialmente relevante em um contexto em que o acesso a itens básicos, como roupas, pode ser desigual entre diferentes grupos. 
          </h2>
          <hr>
          <h2 id="text-desc-ods">
            ODS 12: Consumo e Produção Sustentáveis - O Charity Closet também está alinhado com a ODS 12, uma vez que promove a reutilização e a recirculação de roupas, reduzindo o desperdício e a pressão sobre os recursos naturais. A doação de roupas usadas incentiva um modelo mais sustentável de consumo. 
          </h2>
          <hr>
          <h2 id="text-desc-ods">ODS 17: Parcerias e Meios de Implementação - A ODS 17 é central para o projeto, pois destaca a importância da construção de parcerias entre diferentes setores da sociedade para alcançar as metas de desenvolvimento.</h2>
        </div>
        </details>
      </section>

      <section class="avaliacao">
        <h1 id="text-avaliacao">
          Charity Closet é um incrível site de <br>doações nacional! Eles proporcionam um<br> ambiente caloroso e acolhedor, facilitando a<br> doação e a ajuda aos necessitados. Obrigado <br>por fazer a diferença em nossa comunidade!
        </h1>
        <h3 id="nome-doador">
          - Bruno Monteiro Aiub
        </h3>
      </section>
    </main>

<footer class="footergeral">

  <section class="footercontent">

    <figure class="logofooter">
      <img id="logofooter" src="../assets/shortlogocharitycloset.png">
      <h1 id="text-logo-footer">
        charity closet.
      </h1>
    </figure>

    <div class="footerpart2">
      <a id="link-footer-pt2" href="sobrenos.html">Sobre o Projeto</a>
      <a id="link-footer-pt2" href="contato.html">Contato</a>
    </div>

    <div class="footerpart3">
      <a id="link-footer-pt3" href="politicas.html">Política de Privacidade</a>
      <a id="link-footer-pt3" href="termosdeuso.html">Termos de Uso</a>
      <a id="link-footer-pt3" href="contato.html">FAQ</a>
    </div>

    <div class="divisaodofooter2">
      <div class="origemdotrabalho">
          <div class="integrantesdiv">
              <h2 id="itensfooter2">Integrantes:
                  <li id="itemfooter">02 Cauã Santana</li>
                  <li id="itemfooter">07 Gustavo Alves</li>
                  <li id="itemfooter">08 Gustavo Gomes</li>
                  <li id="itemfooter">09 Izabella Oliveira</li>
                  <li id="itemfooter">14 Leandro Afonso Niches</li>
                  <li id="itemfooter">24 Natalia Lima </li>
                  <li id="itemfooter">33 Wellington Cavalcante </li>
              </h2>
          </div>
          <div class="profediscfooter">
              <h2 id="itensfooter2">ITB - FIEB
                  <li id="itemfooter">Brasílio Flores de Azevedo</li>
              </h2>
              <h2 id="itensfooter2">Curso
                  <li id="itemfooter">Informática 2022 - 2024</li>
              </h2>
          </div>
      </div>

  </section>

</footer>

</body>
</html>