<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/script/login.js"></script>
    <script type="text/javascript" src="/script/headerbotaohref.js"></script>
    <link href="/style/loginadm.css" rel="stylesheet">
    <link href="/style/header.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/backgroundappshort_Prancheta 1.png" type="image/x-icon">
    <link href="/style/footer.css" rel="stylesheet">
    <link href="/style/reset.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Login ADM | Charity Connect</title>
</head>

<body>

    

    <main class="login-main">

        <div class="coracaocad">
            <figure class="coracaofigure">
                <img src="/assets/charityConnect.png" style="width: 50%;" alt="">
            </figure>
        </div>

        <section class="login-section">

            <div class="titulo-login">
                <h1 id="title-titulo-login">
                    Charity Connect
                </h1>
                <h2>
                    Login para Administradores
                </h2>
            </div>

            <form class="login-form" method="post" action="">

                <div class="inputs">

                    <label id="label">
                        <h3 id="h3-form">
                            Email
                        </h3>
                        <input type="email" id="input" name="email" placeholder="Digite seu email" maxlength="120"
                            required>
                    </label>

                    <label id="label">
                        <h3 id="h3-form">
                            Senha
                        </h3>
                        <input type="password" id="input" name="senha" placeholder="Digite sua senha" maxlength="120"
                            required>

                    </label>

                </div>

                <a id="botao-form" th:href="@{/charitycloset/usersadm}">Entrar</a>

            </form>

            

        </section>

        <div style="height:50px;background-color: #181818;">
        </div>

    </main>

    <footer class="footergeral">

        <section class="footercontent">

            <figure class="logofooter">
                <img id="logofooter" src="/assets/shortlogocharitycloset.png">
                <h1 id="text-logo-footer">
                    Charity Connect.
                </h1>
            </figure>

            <div class="footerpart2">
                <a id="link-footer-pt2" th:href="@{/charitycloset/sobre-nos}">Sobre o Projeto</a>
                <a id="link-footer-pt2" th:href="@{/charitycloset/contato}">Contato</a>
              </div>
        
              <div class="footerpart3">
                <a id="link-footer-pt3" th:href="@{/charitycloset/politicas}">Política de Privacidade</a>
                <a id="link-footer-pt3" th:href="@{/charitycloset/termosdeuso}">Termos de Uso</a>
        
              </div>

            <div class="divisaodofooter2">
                <div class="origemdotrabalho">
                    <div class="integrantesdiv">
                        <h2 id="itensfooter2">Integrantes:
                            <li id="itemfooter">02 Cauã Santana</li>
                            <li id="itemfooter">07 Gustavo Alves</li>
                            <li id="itemfooter">08 Gustavo Gomes</li>
                            <li id="itemfooter">13 Leandro Afonso Niches</li>
                            <li id="itemfooter">23 Nathalia Lima </li>
                            <li id="itemfooter">28 Ruan Pablo Braga Mendes</li>
                            <li id="itemfooter">32 Wellington Cavalcante </li>                        </h2>
                    </div>
                    <div class="profediscfooter">
                        <h2 id="itensfooter2">ITB - FIEB
                            <li id="itemfooter">Brasílio Flores de Azevedo</li>
                        </h2>
                        <h2 id="itensfooter2">Curso
                            <li id="itemfooter">Informática 2022 - 2024</li>
                        </h2>
                    </div>
                </div>

        </section>

    </footer>

</body>
<script type="text/javascript" src="/script/menu.js"></script>
</html>