<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/script/cadastrochoice.js"></script>
    <script type="text/javascript" src="/script/headerbotaohref.js"></script>
    <script src="/script/perfil.js"></script>
    <link href="/style/perfilong.css" rel="stylesheet">
    <link href="/style/header.css" rel="stylesheet">
    <link href="/style/footer.css" rel="stylesheet">
    <link href="/style/reset.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Perfil | Charity Closet</title>
</head>

<body>

    <header id="cabecalho">
        <a th:href="@{/charitycloset/index}" id="logo"><img src="/assets/longlogo-nobackground.png" style="width: 16rem;" alt=""></a>
        <nav id="nav">
          <button id="btn-mobile">
          <span id="hambuguer"></span>
          </button>
          <ul id="menu">
            <li><a id="itens" th:href="@{/charitycloset/index}">Home</a></li>
            <li><a id="itens" th:href="@{/charitycloset/contato}">Contato</a></li>
            <li><a id="itens" th:href="@{/charitycloset/perfil-ong}">Meu Perfil ONG</a></li>
            <li><a id="itens" th:href="@{/charitycloset/sobre-nos}">Sobre nós</a></li>
            <li><a style="--clr:#707bff" class="btn-entrar" id="itens" th:href="@{/charitycloset/login}"><span>Entrar</span></a></li>
          </ul>
        </nav>
      </header>

    <main class="login-main">

        <section class="login-section">

            
            <img src="/assets/logo_perfil005.jpg" class="picture__img">

            <div class="conteudo-ong-perfil">
                <section class="nome-ong-perfil">
                    <h1>Soulskien ONG</h1>
                </section>
            </div>

            <div>
                <button id="btn"><a id="link_entrar" th:href="@{/charitycloset/editar-ong}">Editar</a></button>
            </div>

            <div class="info">
                <ul>
                    <li>focados a trazer aconchego aqueles que não tem nada </li>
                    <strong>
                        <li>Contato:<br />
                    </strong>
                    Email:soulskien@gmail.com<br />
                    <strong>Telefone:</strong><br />
                    (11)97791-4506</li>

                    <h5>aceitamos:</h5>
                    <li>Camisas</li>
                    <li>Bermudas</li>
                    <li>Casacos</li>

                </ul>
            </div>
        </section>

        <div style="height:50px;background-color: #181818;">
        </div>



    </main>


    <footer class="footergeral">

        <section class="footercontent">

            <figure class="logofooter">
                <img id="logofooter" src="/assets/shortlogocharitycloset.png">
                <h1 id="text-logo-footer">
                    charity closet.
                </h1>
            </figure>

            <div class="footerpart2">
                <a id="link-footer-pt2" th:href="@{/charitycloset/sobre-nos}">Sobre o Projeto</a>
                <a id="link-footer-pt2" th:href="@{/charitycloset/contato}">Contato</a>
            </div>

            <div class="footerpart3">
                <a id="link-footer-pt3" th:href="@{/charitycloset/politicas}">Política de Privacidade</a>
                <a id="link-footer-pt3" th:href="@{/charitycloset/termos-uso}">Termos de Uso</a>

            </div>

            <div class="divisaodofooter2">
                <div class="origemdotrabalho">
                    <div class="integrantesdiv">
                        <h2 id="itensfooter2">Integrantes:
                            <li id="itemfooter">02 Cauã Santana</li>
                            <li id="itemfooter">07 Gustavo Alves</li>
                            <li id="itemfooter">08 Gustavo Gomes</li>
                            <li id="itemfooter">13 Leandro Afonso Niches</li>
                            <li id="itemfooter">23 Natalia Lima </li>
                            <li id="itemfooter">28 Ruan Pablo Braga Mendes</li>
                            <li id="itemfooter">32 Wellington Cavalcante </li>                        </h2>
                    </div>
                    <div class="profediscfooter">
                        <h2 id="itensfooter2">ITB - FIEB
                            <li id="itemfooter">Brasílio Flores de Azevedo</li>
                        </h2>
                        <h2 id="itensfooter2">Curso
                            <li id="itemfooter">Informática 2022 - 2024</li>
                        </h2>
                    </div>
                </div>

        </section>

    </footer>

</body>
<script type="text/javascript" src="/script/menu.js"></script>
</html>