    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/script/cadastrochoice.js"></script>
        <script type="text/javascript" src="/script/headerbotaohref.js"></script>
        <script src="/script/perfil.js"></script>
        <link href="/style/perfilong.css" rel="stylesheet">
        <link href="/style/header.css" rel="stylesheet">
        <link href="/style/footer.css" rel="stylesheet">
        <link href="/style/reset.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>Perfil | Charity Closet</title>
    </head>

    <body>

        <header class="cabecalho">
            <nav class="nav__bar">
            <div class="logo">
                <img src="/assets/longlogo-nobackground.png" style="width: 50%;" alt="">
            </div>
        
            <div class="nav__list">
                <ul>
                    <li class="nav__item"><a href="homepage.html" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="sobrenos.html" class="nav__link">Sobre nós</a></li>
                    <li class="nav__item"><a href="contato.html" class="nav__link">Contato</a></li>
                    
                    
                    </ul>
                
            </div>
        
            <div class="login__button">
                <a href="login.html" id="loginbuttonheader">Entrar</a>
                <div>
                <a href="">
                <img src="/assets/configicon.png" alt="" id="configicon" >
                </div>
                </a>
        
            </div>
        
            <div class="mobile__menu__icon">
                <button onclick="menushow()"><img class="icon" src="/assets/Menu.svg" alt=""></button>
            </div>
            </nav>
        
            <div class="mobile__menu">
            <ul>
                <li class="nav__item"><a href="homepage.html" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="sobrenos.html" class="nav__link">Sobre nós</a></li>
            </ul>
        
            <div class="login__button">
                <button><a href="login.html">Entrar</a></button>
            </div>
            </div>
        </header>

        <main class="escolha-main">
            <section class="principal">
                <div class="capa">
                    <img id="background__perfil" src="/assets/ong__perfil.jfif" alt="" style="width: 600px;">
                    <div class="round">
                        <img id="capa__perfil" src="/assets/capa2.jpeg" alt="" style="width: 200px;">

                        <button id="open-modal"><a href="editarperfilong.html">Editar</a></button>
                        


                    </div>
                    <div class="info">
                        <h2>Soul Skien</h2>
                        <ul>
                            <li>focados a trazer aconchego aqueles que não tem nada </li>
                            <strong><li>Contato:<br/></strong>
                            Email:soulskien@gmail.com<br/>
                            <strong>Telefone:</strong><br/>
                            (11)97791-4506</li>
                            <ul>
                                <h5>aceitamos:</h5>
                                <li>Camisas</li>
                                <li>Bermudas</li>
                                <li>Casacos</li>
                            </ul>
                        </ul>
                    </div>
                    <hr class="linha">
                    <div class="avaliacao">
                        <h3>Deixe aqui sua avaliação sobre nós:<br/>
                        <textarea name="" id="" cols="30" rows="10"></textarea> </h3>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footergeral">

            <section class="footercontent">

                <figure class="logofooter">
                    <img id="logofooter" src="/assets/shortlogocharitycloset.png">
                    <h1 id="text-logo-footer">
                        charity closet.
                    </h1>
                </figure>

                <div class="footerpart2">
                    <a id="link-footer-pt2" href="sobrenos.html">Sobre o Projeto</a>
                    <a id="link-footer-pt2" href="contato.html">Contato</a>
                </div>

                <div class="footerpart3">
                    <a id="link-footer-pt3" href="politicas.html">Política de Privacidade</a>
                    <a id="link-footer-pt3" href="termosdeuso.html">Termos de Uso</a>

                </div>

                <div class="divisaodofooter2">
                    <div class="origemdotrabalho">
                        <div class="integrantesdiv">
                            <h2 id="itensfooter2">Integrantes:
                                <li id="itemfooter">02 Cauã Santana</li>
                                <li id="itemfooter">07 Gustavo Alves</li>
                                <li id="itemfooter">08 Gustavo Gomes</li>
                                <li id="itemfooter">09 Izabella Oliveira</li>
                                <li id="itemfooter">14 Leandro Afonso Niches</li>
                                <li id="itemfooter">24 Natalia Lima </li>
                                <li id="itemfooter">33 Wellington Cavalcante </li>
                            </h2>
                        </div>
                        <div class="profediscfooter">
                            <h2 id="itensfooter2">ITB - FIEB
                                <li id="itemfooter">Brasílio Flores de Azevedo</li>
                            </h2>
                            <h2 id="itensfooter2">Curso
                                <li id="itemfooter">Informática 2022 - 2024</li>
                            </h2>
                        </div>
                    </div>

            </section>

        </footer>

    </body>

    </html>