<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/perfilong.css" rel="stylesheet">
    <link href="/style/header.css" rel="stylesheet">
    <link href="/style/footer.css" rel="stylesheet">
    <link href="/style/reset.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/backgroundappshort_Prancheta 1.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Perfil | Charity Connect</title>
</head>

<body>

    <header id="cabecalho">
        <a href="/html/index.html" id="logo"><img src="/assets/charityConnect.png" style="width: 16rem;" alt=""></a>
        <nav id="nav">
          <button id="btn-mobile">
          <span id="hambuguer"></span>
          </button>
          <ul id="menu">
            <li><a id="itens" href="/html/index.html">Home</a></li>
            <li><a id="itens" href="/html/catalogo.html">Catálogo</a></li>
            <li><a id="itens" href="/html/perfilong.html">Meu Perfil ONG</a></li>
            <li><a id="itens" href="/html/sobrenos.html">Sobre nós</a></li>
            <li><a style="--clr:#707bff" class="btn-entrar" id="itens" href="/html/login.html"><span>Entrar</span></a></li>
          </ul>
        </nav>
      </header>

    <main class="login-main">

        <section class="profile">
            <div class="profile_ong">
                <div>
                    <img src="/assets/ongs-02.png" alt="imagem da ong">

                </div>
                <div class="title_ong">
                    <h2>Sorrisos do Amanhã</h2></br>
                    <p class="description">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, quasi, laborum quisquam fugit aut
                      maiores eveniet nemo incidunt distinctio et ducimus.
                    </p>
                </div>
                <div class="btn_editar">
                    <button id="buttonperfil" onclick="editar('editarperfilong.html')">Editar</button>
                </div>
            </div>
            <div class="info_ong">
                <table>
                        <tbody>
                            <tr id="info">
                                <td class="title_item">&nbsp;Nome da organização:</td>
                                <td class="info_item">&nbsp;Sorrisos do amanhã</td>
                            </tr>
                            <tr id="info">
                                <td class="title_item">&nbsp;Nome do Representante:</td>
                                <td class="info_item">&nbsp;Cauã Santana</td>
                            </tr>
                            <tr id="info">
                                <td class="title_item">&nbsp;Email da organização:</td>
                                <td class="info_item">&nbsp;emostalook@gmail.com</td>
                            </tr>
                            <tr id="info">
                                <td class="title_item">&nbsp;Número de celular:</td>
                                <td class="info_item">&nbsp;(xx) xxxxx-xxxx</td>
                            </tr>
                            <tr id="info">
                                <td class="title_item">&nbsp;Cep:</td>
                                <td class="info_item">&nbsp;06449-000</td>
                            </tr>
                            <tr id="info">
                                <td class="title_item">&nbsp;Cnpj</td>
                                <td class="info_item">&nbsp;0644900051545</td>
                            </tr>
                            <tr id="info">
                                <td class="title_item">&nbsp;UF:</td>
                                <td class="info_item">&nbsp;São Paulo (Sp)</td>
                            </tr>
                        </tbody>
                </table>
            </div>
            
            
        </section>

        <div style="height:50px;background-color: #181818;">
        </div>



    </main>


    <footer class="footergeral">

        <section class="footercontent">

            <figure class="logofooter">
                <img id="logofooter" src="/assets/shortlogocharitycloset.png">
                <h1 id="text-logo-footer">
                    Charity Connect.
                </h1>
            </figure>

            <div class="footerpart2">
                <a id="link-footer-pt2" href="sobrenos.html">Sobre o Projeto</a>
                <a id="link-footer-pt2" href="contato.html">Contato</a>
            </div>

            <div class="footerpart3">
                <a id="link-footer-pt3" href="politicas.html">Política de Privacidade</a>
                <a id="link-footer-pt3" href="termosdeuso.html">Termos de Uso</a>

            </div>

            <div class="divisaodofooter2">
                <div class="origemdotrabalho">
                    <div class="integrantesdiv">
                        <h2 id="itensfooter2">Integrantes:
                            <li id="itemfooter">02 Cauã Santana</li>
                            <li id="itemfooter">07 Gustavo Alves</li>
                            <li id="itemfooter">08 Gustavo Gomes</li>
                            <li id="itemfooter">13 Leandro Afonso Niches</li>
                            <li id="itemfooter">23 Nathalia Lima </li>
                            <li id="itemfooter">28 Ruan Pablo Braga Mendes</li>
                            <li id="itemfooter">32 Wellington Cavalcante </li>                        </h2>
                    </div>
                    <div class="profediscfooter">
                        <h2 id="itensfooter2">ITB - FIEB
                            <li id="itemfooter">Brasílio Flores de Azevedo</li>
                        </h2>
                        <h2 id="itensfooter2">Curso
                            <li id="itemfooter">Informática 2022 - 2024</li>
                        </h2>
                    </div>
                </div>

        </section>

    </footer>

</body>
<script type="text/javascript" src="/script/menu.js"></script>
</html>