<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/script/headerbotaohref.js"></script>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/politicas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Sobre nós | Charity Closet</title>
</head>

<body>

    <header class="cabecalho">
        <nav class="nav__bar">
         <div class="logo">
            <img src="/assets/longlogo-nobackground.png" style="width: 50%;" alt="">
         </div>
    
         <div class="nav__list">
             <ul>
                 <li class="nav__item"><a href="homepage.html" class="nav__link">Home</a></li>

                 <li class="nav__item"><a href="sobrenos.html" class="nav__link">Sobre nós</a></li>
                 <li class="nav__item"><a href="contato.html" class="nav__link">Contato</a></li>
                 
                 
                </ul>
              
         </div>
    
         <div class="login__button">
             <a href="login.html" id="loginbuttonheader">Entrar</a>
             <div>
             <a href="">
             <img src="/assets/configicon.png" alt="" id="configicon" >
            </div>
            </a>
    
         </div>
    
         <div class="mobile__menu__icon">
             <button onclick="menushow()"><img class="icon" src="/assets/Menu.svg" alt=""></button>
         </div>
        </nav>
    
        <div class="mobile__menu">
         <ul>
             <li class="nav__item"><a href="homepage.html" class="nav__link">Home</a></li>
                 <li class="nav__item"><a href="sobrenos.html" class="nav__link">Sobre nós</a></li>
                 <li class="nav__item"><a href="contato.html" class="nav__link">Contato</a></li>
         </ul>
    
         <div class="login__button">
             <button><a href="login.html">Entrar</a></button>
         </div>
        </div>
      </header>

      <main class="principal">

        <section class="img">
           <div class="inicio">
            <h1 class="inicio">Charity Closet</h1>
            <div>
                <h4 class="inicio">Politicas de privacidade</h4>
            </div>
        </div>
        </section>
        <div class="div-gradiente-home"></div>
        <section class="politicas">
            <h2 class="titulo__principal">Política Privacidade</h2>
            <p class="texto">A sua privacidade é importante para nós. É política do Charity Closet respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site Charity Closet, e outros sites que possuímos e operamos.</p> <br />
            <p class="texto">Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.</p> <br />
            <p class="texto">Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p> <br />
            <p class="texto">Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
            <p class="texto">O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.</p> <br />
            <p class="texto">Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p>
            <p class="texto">O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.</p> <br />
            
            <div class="lista">
                <ul class="lista__itens1">
                    <li class="lista__ordem1">O serviço Google AdSense que usamos para veicular publicidade usa um cookie DoubleClick para veicular anúncios mais relevantes em toda a Web e limitar o número de vezes que um determinado anúncio é exibido para você.</li> <br />
                    <li class="lista__ordem1">Para mais informações sobre o Google AdSense, consulte as FAQs oficiais sobre privacidade do Google AdSense.</li> <br />
                    <li class="lista__ordem1">Utilizamos anúncios para compensar os custos de funcionamento deste site e fornecer financiamento para futuros desenvolvimentos. Os cookies de publicidade comportamental usados ​​por este site foram projetados para garantir que você forneça os anúncios mais relevantes sempre que possível, rastreando anonimamente seus interesses e apresentando coisas semelhantes que possam ser do seu interesse.</li> <br />
                    <li class="lista__ordem1">Vários parceiros anunciam em nosso nome e os cookies de rastreamento de afiliados simplesmente nos permitem ver se nossos clientes acessaram o site através de um dos sites de nossos parceiros, para que possamos creditá-los adequadamente e, quando aplicável, permitir que nossos parceiros afiliados ofereçam qualquer promoção que pode fornecê-lo para fazer uma compra.</li> <br />
                </ul>
            </div>

            <h4 class="titulo__secundario">Compromisso do Usuário</h4>
            <p class="texto">O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o Charity Closet oferece no site e com caráter enunciativo, mas não limitativo:</p> <br />
            
            <div class="lista">
                <ul class="lista__itens">
                <li class="lista__ordem">A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</li>
                <li class="lista__ordem">B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, jogos de sorte ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</li>
                <li class="lista__ordem">C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do Charity Closet, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</li>
            </ul>
            </div>

            <h4 class="titulo__secundario">Mais informações</h4>
            <p class="texto">Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.  <br />
                Esta política é efetiva a partir de 3 October 2023 14:23 </p> <br />

        
        </section>
      </main>

    
<footer class="footergeral">

    <section class="footercontent">
  
      <figure class="logofooter">
        <img id="logofooter" src="/assets/shortlogocharitycloset.png">
        <h1 id="text-logo-footer">
          charity closet.
        </h1>
      </figure>
  
      <div class="footerpart2">
        <a id="link-footer-pt2" href="sobrenos.html">Sobre o Projeto</a>
        <a id="link-footer-pt2" href="contato.html">Contato</a>
      </div>
  
      <div class="footerpart3">
        <a id="link-footer-pt3" href="politicas.html">Política de Privacidade</a>
        <a id="link-footer-pt3" href="termosdeuso.html">Termos de Uso</a>

      </div>
  
      <div class="divisaodofooter2">
        <div class="origemdotrabalho">
            <div class="integrantesdiv">
                <h2 id="itensfooter2">Integrantes:
                    <li id="itemfooter">02 Cauã Santana</li>
                    <li id="itemfooter">07 Gustavo Alves</li>
                    <li id="itemfooter">08 Gustavo Gomes</li>
                    <li id="itemfooter">09 Izabella Oliveira</li>
                    <li id="itemfooter">14 Leandro Afonso Niches</li>
                    <li id="itemfooter">24 Natalia Lima </li>
                    <li id="itemfooter">33 Wellington Cavalcante </li>
                </h2>
            </div>
            <div class="profediscfooter">
                <h2 id="itensfooter2">ITB - FIEB
                    <li id="itemfooter">Brasílio Flores de Azevedo</li>
                </h2>
                <h2 id="itensfooter2">Curso
                    <li id="itemfooter">Informática 2022 - 2024</li>
                </h2>
            </div>
        </div>
  
    </section>
  
  </footer>
</body>
</html>