<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/sobrenos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <header class="headergeral">

        <div class="container text-center">
            <div class="row">
              
              <div class="col">
                <ul class="linksheader">
                    <li id="linknord"><a id="linkheader" href="homepage.html">Home</a></li>
                    <li id="linknord"><a id="linkheader" href="homepage.html">Sobre Nós</a></li>
                    <li id="linknord"><a id="linkheader" href="homepage.html">Objetivo</a></li>
                    <li id="linknord"><a id="linkheader" href="homepage.html">ONGS</a></li>
                </ul>
              </div>
              <div class="col">
                <figure class="logoheader">
                    <img src="../assets/shortlogocharitycloset.png" id="logoheader">
                </figure>
              </div>

              <div class="col">
                <div class="barradepesquisa">
                <input type="text" placeholder="Pesquisar" id="buscarheader">
                <button type="submit" id="botaoenviarheader">
                  <img id="buscaricon" src="../assets/buscaricon.png">
                </button> 
              </div>
              </div>

              <div class="col">
                <div class="loginheader">
                    <a id="loginbuttonheader" href="login.html">Entrar</a>
                    <a id="loginbuttonheader" href="cadastrochoice.html">Registrar</a>
                    <a id="configheader">
                      <img id="configicon" src="../assets/configicon.png">
                    </a>
                </div>
              </div>

            </div>
          </div>

    </header>

    <section class="container__principal">
        <p id="texto__sobre">SOBRE O CHARITY CLOSET</p>
        <h1 id="texto__sobrenos">Sobre Nós</h1>
    </section>

    <section class="container__secundario">
        <p id="cahrity_closet" class="efeito__texto">CHARITY CLOSET</p>
        <p id="texto">O projeto Charity Closet, uma inovadora aplicação desenvolvida para promover a conexão entre
        organizações não-governamentais (ONGs) e potenciais doadores de roupas, abraça os princípios 
        fundamentais das Metas de Desenvolvimento Sustentável (ODS) estabelecidas pela ONU para 2030. 
        Ao facilitar a doação de roupas e sua redistribuição para indivíduos em situação de vulnerabilidade,
        o projeto toca em várias ODS, promovendo um impacto social e ambiental significativo.</p>
    </section>

    <section class="container__terceario">
        <p id="texto__3"  class="efeito__texto">A HISTÓRIA DA CHARITY CLOSET</p>
        <div class="textos3">
        <h1 id="texto__topico__3"  class="efeito__texto">Comprometidos com a conexão</h1>
        <p id="teste">No Charity Closet™, acreditamos na importância de construir uma ligação segura e confiável entre doadores e organizações não-governamentais (ONGs). Nossa abordagem se destaca ao assegurar que essa conexão seja a base sólida sobre a qual construímos nosso impacto social e ambiental. Aqui está como nos comprometemos a promover uma ligação segura e eficaz:
        </div>
            <div class="textos4">
            <p id="texto__topico__4"  class="efeito__texto">Nossa Visão:</p>
        <p id="texto__4">
            Imaginamos um mundo onde ninguém passe frio, onde cada criança tenha um casaco quente no inverno e onde a dignidade de todos seja preservada através da doação de roupas. Acreditamos que juntos podemos fazer a diferença e alcançar as Metas de Desenvolvimento Sustentável (ODS) estabelecidas pela ONU para 2030.
        </p>
    </div>
       
    </section>

    <section class="container__quarteario">
        <p id="texto__3"  class="efeito__texto">Nosso Impacto:</p>
        <div class="textos5">
            <p> <strong> Conexão com Propósito:</strong> No Charity Closet™, promovemos a conexão entre doadores e ONGs de maneira simples e eficaz. Através da nossa plataforma, você pode contribuir diretamente para causas que importam, sabendo que suas doações fazem a diferença.</p><br>
            <p> <strong> ODS em Ação:</strong> Cada doação de roupa que você faz através do Charity Closet™ contribui para diversas Metas de Desenvolvimento Sustentável da ONU. Desde a redução da pobreza até a promoção da igualdade de gênero e o combate às mudanças climáticas, seu gesto solidário tem um impacto social e ambiental significativo.<br><br>
                <strong> ODS 1:</strong> Erradicação da Pobreza - O projeto se alinha diretamente com a ODS 1, pois visa ajudar as pessoas carentes ao fornecer-lhes roupas que podem melhorar sua qualidade de vida e autoestima. Ao ligar doadores a ONGs, o Charity Closet contribui para aliviar a pobreza e reduzir as disparidades socioeconômicas. <br><br>

                <strong>ODS 10:</strong> Redução das Desigualdades - Ao enfocar a doação de roupas para pessoas necessitadas, o projeto aborda a ODS 10, buscando diminuir as desigualdades sociais. Isso é especialmente relevante em um contexto em que o acesso a itens básicos, como roupas, pode ser desigual entre diferentes grupos. <br><br>
                
                <strong>ODS 12:</strong> Consumo e Produção Sustentáveis - O Charity Closet também está alinhado com a ODS 12, uma vez que promove a reutilização e a recirculação de roupas, reduzindo o desperdício e a pressão sobre os recursos naturais. A doação de roupas usadas incentiva um modelo mais sustentável de consumo. <br><br>
                
                <strong>ODS 17:</strong> Parcerias e Meios de Implementação - A ODS 17 é central para o projeto, pois destaca a importância da construção de parcerias entre diferentes setores da sociedade para alcançar as metas de desenvolvimento. O Charity Closet atua como um intermediário, conectando doadores individuais, ONGs e a comunidade em geral para alcançar objetivos compartilhados. <br><br>
                 </p>
            <p> <strong>Empoderando Comunidades: </strong>Ao doar suas roupas, você está capacitando indivíduos em situação de vulnerabilidade a se manterem aquecidos, confiantes e prontos para enfrentar desafios. É uma maneira tangível de mostrar solidariedade e amor ao próximo.</p><br>
            <p> <strong>Sustentabilidade:</strong> Estamos comprometidos com a redução do desperdício e a preservação do meio ambiente. Ao reutilizar roupas, estamos contribuindo para um futuro mais sustentável e consciente.</p><br>
        </div>
    </section>

    
<footer class="footergeral">

    <section class="footercontent">
  
      <figure class="logofooter">
        <img id="logofooter" src="../assets/shortlogocharitycloset.png">
        <h1 id="text-logo-footer">
          charity closet.
        </h1>
      </figure>
  
      <div class="footerpart2">
        <a id="link-footer-pt2" href="sobrenos.html">Sobre o Projeto</a>
        <a id="link-footer-pt2" href="contato.html">Contato</a>
      </div>
  
      <div class="footerpart3">
        <a id="link-footer-pt3" href="politicas.html">Política de Privacidade</a>
        <a id="link-footer-pt3" href="termosdeuso.html">Termos de Uso</a>
        <a id="link-footer-pt3" href="contato.html">FAQ</a>
      </div>
  
      <div class="divisaodofooter2">
        <div class="origemdotrabalho">
            <div class="integrantesdiv">
                <h2 id="itensfooter2">Integrantes:
                    <li id="itemfooter">02 Cauã Santana</li>
                    <li id="itemfooter">07 Gustavo Alves</li>
                    <li id="itemfooter">08 Gustavo Gomes</li>
                    <li id="itemfooter">09 Izabella Oliveira</li>
                    <li id="itemfooter">14 Leandro Afonso Niches</li>
                    <li id="itemfooter">24 Natalia Lima </li>
                    <li id="itemfooter">33 Wellington Cavalcante </li>
                </h2>
            </div>
            <div class="profediscfooter">
                <h2 id="itensfooter2">ITB - FIEB
                    <li id="itemfooter">Brasílio Flores de Azevedo</li>
                </h2>
                <h2 id="itensfooter2">Curso
                    <li id="itemfooter">Informática 2022 - 2024</li>
                </h2>
            </div>
        </div>
  
    </section>
  
  </footer>
</body>
</html>