<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos De Uso</title>
    <script type="text/javascript" src="/script/headerbotaohref.js"></script>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/sobrenos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Termos De Uso | Charity Closet</title>
</head>

<body>

    <header id="cabecalho">
        <a href="/html/index.html" id="logo"><img src="/assets/longlogo-nobackground.png" style="width: 16rem;" alt=""></a>
        <nav id="nav">
          <button id="btn-mobile">
          <span id="hambuguer"></span>
          </button>
          <ul id="menu">
            <li><a id="itens" href="/html/index.html">Home</a></li>
            <li><a id="itens" href="/html/contato.html">Contato</a></li>
            <li><a id="itens" href="/html/perfilong.html">Meu Perfil ONG</a></li>
            <li><a id="itens" href="/html/sobrenos.html">Sobre nós</a></li>
            <li><a style="--clr:#707bff" class="btn-entrar" id="itens" href="/html/login.html"><span>Entrar</span></a></li>
          </ul>
        </nav>
      </header>

    <main class="principal">

        <section class="container__principal">
            <h1 id="texto__sobrenos">Termos e Condições de Uso</h1>
        </section>

        <div class="div-gradiente-home"></div>

        <section class="container__secundario">
            <p id="cahrity_closet" class="efeito__texto">1.Termos</p>
            <p id="texto">Ao acessar ao site Charity Closet, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis ​​e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.</p>
        </section>

        <section class="container__terceario">
            <div class="textos3">
                <h1 id="texto__topico__3">2. Uso de Licença</h1>
                <p id="teste">É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site Charity Closet , apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode:
                    <ul>
                        <li>modificar ou copiar os materiais; </li>
                        <li>usar os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não comercial); </li>
                        <li>tentar descompilar ou fazer engenharia reversa de qualquer software contido no site Charity Closet; </li>
                        <li>remover quaisquer direitos autorais ou outras notações de propriedade dos materiais; ou </li>
                        <li>transferir os materiais para outra pessoa ou 'espelhe' os materiais em qualquer outro servidor.</li>
                       </ul> <br />

                       <p id="teste">Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida por Charity Closet a qualquer momento. Ao encerrar a visualização desses materiais ou após o término desta licença, você deve apagar todos os materiais baixados em sua posse, seja em formato eletrónico ou impresso.</p>
            </div>
            <div class="textos4">
                <h1 id="texto__topico__3">3. Isenção de responsabilidade</h1>
                <p id="texto__4">
                    <ul>
                        <li>Os materiais no site da Charity Closet são fornecidos 'como estão'. Charity Closet não oferece garantias, expressas ou implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.</li>
                        <li>Além disso, o Charity Closet não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ​​ou à confiabilidade do uso dos materiais em seu site ou de outra forma relacionado a esses materiais ou em sites vinculados a este site.</li>
                    </ul><br />
                </p>
            </div>

            <div class="textos4">
                <h1 id="texto__topico__3">4. Limitações</h1>
                <p id="texto__4">
                    Em nenhum caso o Charity Closet ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em Charity Closet, mesmo que Charity Closet ou um representante autorizado da Charity Closet tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade por danos conseqüentes ou incidentais, essas limitações podem não se aplicar a você.
                </p>
            </div>

            <div class="textos4">
                <h1 id="texto__topico__3">5. Precisão dos materiais</h1>
                <p id="texto__4">
                    Os materiais exibidos no site da Charity Closet podem incluir erros técnicos, tipográficos ou fotográficos. Charity Closet não garante que qualquer material em seu site seja preciso, completo ou atual. Charity Closet pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, Charity Closet não se compromete a atualizar os materiais.
                </p>
            </div>

            <div class="textos4">
                <h1 id="texto__topico__3">6. Links</h1>
                <p id="texto__4">
                    O Charity Closet não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado. A inclusão de qualquer link não implica endosso por Charity Closet do site. O uso de qualquer site vinculado é por conta e risco do usuário.
                </p>
            </div>

        </section>

       


    </main>
    <footer class="footergeral">

        <section class="footercontent">

            <figure class="logofooter">
                <img id="logofooter" src="/assets/shortlogocharitycloset.png">
                <h1 id="text-logo-footer">
                    charity closet.
                </h1>
            </figure>

            <div class="footerpart2">
                <a id="link-footer-pt2" href="sobrenos.html">Sobre o Projeto</a>
                <a id="link-footer-pt2" href="contato.html">Contato</a>
            </div>

            <div class="footerpart3">
                <a id="link-footer-pt3" href="politicas.html">Política de Privacidade</a>
                <a id="link-footer-pt3" href="termosdeuso.html">Termos de Uso</a>

            </div>

            <div class="divisaodofooter2">
                <div class="origemdotrabalho">
                    <div class="integrantesdiv">
                        <h2 id="itensfooter2">Integrantes:
                            <li id="itemfooter">02 Cauã Santana</li>
                            <li id="itemfooter">07 Gustavo Alves</li>
                            <li id="itemfooter">08 Gustavo Gomes</li>
                            <li id="itemfooter">13 Leandro Afonso Niches</li>
                            <li id="itemfooter">23 Natalia Lima </li>
                            <li id="itemfooter">28 Ruan Pablo Braga Mendes</li>
                            <li id="itemfooter">32 Wellington Cavalcante </li>
                        </h2>
                    </div>
                    <div class="profediscfooter">
                        <h2 id="itensfooter2">ITB - FIEB
                            <li id="itemfooter">Brasílio Flores de Azevedo</li>
                        </h2>
                        <h2 id="itensfooter2">Curso
                            <li id="itemfooter">Informática 2022 - 2024</li>
                        </h2>
                    </div>
                </div>

        </section>

    </footer>
</body>
<script type="text/javascript" src="/script/menu.js"></script>
</html>