<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/usersadm.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
 
    <title>Document</title>
</head>
<body>
    <header id="cabecalho">
        <a th:href="@{/charitycloset/index}" id="logo"><img src="/assets/longlogo-nobackground.png" style="width: 16rem;" alt=""></a>
        <nav id="nav">
          <button id="btn-mobile">
          <span id="hambuguer"></span>
          </button>
          <ul id="menu">
            <li><a id="itens" th:href="@{/charitycloset/index}">Home</a></li>
            <li><a id="itens" th:href="@{/charitycloset/contato}">Contato</a></li>
            <li><a id="itens" th:href="@{/charitycloset/perfil-ong}">Meu Perfil ONG</a></li>
            <li><a id="itens" th:href="@{/charitycloset/sobre-nos}">Sobre nós</a></li>
            <li><a style="--clr:#707bff" class="btn-entrar" id="itens" th:href="@{/charitycloset/login}"><span>Entrar</span></a></li>
          </ul>
        </nav>
      </header>

      <main class="main-user">
        <div>
            <h1 id="title-main">Gerenciamento de Usuários</h1>
        </div>

        <div class="container">
            <div class="controller-user">
                <label class="label-user" for="btn-user-ong">
                    <button type="button" class="btn-user-escolha" id="btn-user-ong" onclick="mudarOngs()">
                        <img class="icon-img-ativo" id="icon-img" src="assets/usericon.png">
                    </button>
                    <span>ONGS</span>
                </label>

                <label class="label-user" for="btn-user">
                    <button type="button" class="btn-user-escolha" id="btn-user" onclick="mudarUser()">
                        <img class="icon-img-ativo" id="icon-img" src="assets/usericon.png">
                    </button>
                    <span>Usuários</span>
                </label>
            </div>

            <div class="Gerenciamento">
                <table class="demo">
                    <thead>
                    <tr id="title-categoria">
                        <th class="item">ONG</th>
                        <th class="item">Representante</th>
                        <th class="item">E-mail Rep</th>
                        <th class="item">Senha</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="info">
                        <td class="item">&nbsp;LIFEOFPABLO</td>
                        <td class="item">&nbsp;CAUÃ</td>
                        <td class="item">&nbsp;C@HORSE.COM</td>
                        <td class="item">&nbsp;FREDDIEMERCURY</td>
                        <td>&nbsp;
                            <select>
                            <option>APROVADO</option>
                            <option>BANIDO</option>
                            <option>ANALISE</option>
                        </select>
                    </td>
                    </tr>
                    <tr id="info2">
                        <td class="item">&nbsp;GRADUATION</td>
                        <td class="item">&nbsp;GUSTAVO</td>
                        <td class="item">&nbsp;G@HORSE.COM</td>
                        <td class="item">&nbsp;AMYWINEHOUSE</td>
                        <td>&nbsp;
                            <select>
                            <option>APROVADO</option>
                            <option>BANIDO</option>
                            <option>ANALISE</option>
                        </select></td>
                    </tr>
                    <tr id="info3">
                        <td class="item">&nbsp;YEEZUS</td>
                        <td class="item">&nbsp;LEANDRO</td>
                        <td class="item">&nbsp;L@HORSE.COM</td>
                        <td class="item">&nbsp;FRANKSINATRA</td>
                        <td>&nbsp;
                            <select>
                            <option>APROVADO</option>
                            <option>BANIDO</option>
                            <option>ANALISE</option>
                        </select></td>
                    </tr>
                    <tr id="info4">
                        <td class="item">&nbsp;YE</td>
                        <td class="item">&nbsp;NATHALIA</td>
                        <td class="item">&nbsp;N@HORSE.COM</td>
                        <td class="item">&nbsp;OZZYOSBOURNE</td>
                        <td class="item">&nbsp;
                            <select>
                            <option>APROVADO</option>
                            <option>BANIDO</option>
                            <option>ANALISE</option>
                        </select></td>
                    </tr>


                    <tr id="info5">
                        <td class="item">&nbsp;DONDA</td>
                        <td class="item">&nbsp;RUAN</td>
                        <td class="item">&nbsp;I@HORSE.COM</td>
                        <td class="item">&nbsp;MICHAELJACKSON</td>
                        <td>&nbsp;
                            <select>
                            <option>APROVADO</option>
                            <option>BANIDO</option>
                            <option>ANALISE</option>
                        </select></td>
                    </tr>
                    <tr>

                    <tr id="info6">
                        <td class="item">&nbsp;WATCHTHRONE</td>
                        <td class="item">&nbsp;WELLINGTON</td>
                        <td class="item">&nbsp;W@HORSE.COM</td>
                        <td class="item">&nbsp;JOHNLENNON</td>
                        <td>&nbsp;
                            <select>
                            <option>APROVADO</option>
                            <option>BANIDO</option>
                            <option>ANALISE</option>
                        </select>
                    </td>
                    </tr>
                    <tbody>
                </table>
            </div>

        </div>

      </main>

      <footer class="footergeral">

        <section class="footercontent">

            <figure class="logofooter">
                <img id="logofooter" src="/assets/shortlogocharitycloset.png">
                <h1 id="text-logo-footer">
                    charity closet.
                </h1>
            </figure>

            <div class="footerpart2">
                <a id="link-footer-pt2" th:href="@{/charitycloset/sobre-nos}">Sobre o Projeto</a>
                <a id="link-footer-pt2" th:href="@{/charitycloset/contato}">Contato</a>
            </div>

            <div class="footerpart3">
                <a id="link-footer-pt3" th:href="@{/charitycloset/politicas}">Política de Privacidade</a>
                <a id="link-footer-pt3" th:href="@{/charitycloset/termosdeuso}">Termos de Uso</a>

            </div>

            <div class="divisaodofooter2">
                <div class="origemdotrabalho">
                    <div class="integrantesdiv">
                        <h2 id="itensfooter2">Integrantes:
                            <li id="itemfooter">02 Cauã Santana</li>
                            <li id="itemfooter">07 Gustavo Alves</li>
                            <li id="itemfooter">08 Gustavo Gomes</li>
                            <li id="itemfooter">14 Leandro Afonso Niches</li>
                            <li id="itemfooter">24 Natalia Lima </li>
                             <li id="itemfooter">28 Ruan Pablo Braga Mendes</li>
                            <li id="itemfooter">33 Wellington Cavalcante </li>
                           
                        </h2>
                    </div>
                    <div class="profediscfooter">
                        <h2 id="itensfooter2">ITB - FIEB
                            <li id="itemfooter">Brasílio Flores de Azevedo</li>
                        </h2>
                        <h2 id="itensfooter2">Curso
                            <li id="itemfooter">Informática 2022 - 2024</li>
                        </h2>
                    </div>
                </div>

        </section>

    </footer>

        <script src="/script/userAdm.js" defer></script>
</body>
</html>