<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/script/verificacao.js"></script>
    <script type="text/javascript" src="/script/headerbotaohref.js"></script>
    <link href="/style/verificacao.css" rel="stylesheet">
    <link href="/style/header.css" rel="stylesheet">
    <link href="/style/footer.css" rel="stylesheet">
    <link href="/style/reset.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Verificacao | Charity Closet</title>
</head>

<body>

  <header class="cabecalho">
    <nav class="nav__bar">
     <div class="logo">
         <img src="/assets/shortlogocharitycloset.png" style="width: 50px;" alt="">
     </div>

     <div class="nav__list">
         <ul>
             <li class="nav__item"><a href="homepage.html" class="nav__link">Home</a></li>
             <li class="nav__item"><a href="ongs.html" class="nav__link">ONGS</a></li>
             <li class="nav__item"><a href="sobrenos.html" class="nav__link">Sobre nós</a></li>
             <li class="nav__item"><a href="contato.html" class="nav__link">Contato</a></li>
             
             <div class="buscar">
              <input class="nav__item" type="search" name="" id="pesquisa"  >
              <button class="icon__buscar">
              <i class="fa-solid fa-magnifying-glass" style="color: #8a2be2;"></i>
            </button>
            </div>
            </ul>
          
     </div>

     <div class="login__button">
         <a href="login.html" id="loginbuttonheader">Entrar</a>
         <div>
         <a href="">
         <img src="/assets/configicon.png" alt="" id="configicon" >
        </div>
        </a>

     </div>

     <div class="mobile__menu__icon">
         <button onclick="menushow()"><img class="icon" src="/assets/Menu.svg" alt=""></button>
     </div>
    </nav>

    <div class="mobile__menu">
     <ul>
         <li class="nav__item"><a href="homepage.html" class="nav__link">Home</a></li>
             <li class="nav__item"><a href="ongs.html" class="nav__link">ONGS</a></li>
             <li class="nav__item"><a href="sobrenos.html" class="nav__link">Sobre nós</a></li>
     </ul>

     <div class="login__button">
         <button onclick="redirecionar()"><a href="login.html">Entrar</a></button>
     </div>
    </div>
  </header>

  <main class="main-verif">

        <section class="card-verif">

            <h1>Redefinir Senha</h1>

            <h3 id="desc-verif">Um código para a redefinição de senha será enviado no seu email.</h3><br>
                <label id="label">Email
                <input type="email" id="input">
                <button id="button-verif" type="submit">Enviar</button>
                </label></p>

                <label id="label" for="codigo">Código de Verificação:
                <input maxlength="6" type="text" id="codigo" name="codigo" required>
                <button id="button-verif" type="button" onclick="verificarCodigo()">Enviar Código</button>
                </label>
            

    <!-- Formulário de Nova Senha inicialmente oculto -->
    <div id="formSenha" style="display: none;">
        <form action="processa_redefinicao.php" method="post">
            <label id="label" for="nova_senha">Nova Senha:
            <input type="password" id="nova_senha" name="nova_senha" required>
            Confirmar Senha:
            <input type="password" id="nova_senha" name="nova_senha" required>
            <button id="button-verif" type="submit">Redefinir Senha</button>
            </label>
        </form>
    </div>

        </section>

        <div style="height:50px;background-color: #181818;">
        </div>

      </main>

      <footer class="footergeral">

        <section class="footercontent">
    
          <figure class="logofooter">
            <img id="logofooter" src="/assets/shortlogocharitycloset.png">
            <h1 id="text-logo-footer">
              charity closet.
            </h1>
          </figure>
    
          <div class="footerpart2">
            <a id="link-footer-pt2" href="sobrenos.html">Sobre o Projeto</a>
            <a id="link-footer-pt2" href="contato.html">Contato</a>
          </div>
    
          <div class="footerpart3">
            <a id="link-footer-pt3" href="politicas.html">Política de Privacidade</a>
            <a id="link-footer-pt3" href="termosdeuso.html">Termos de Uso</a>
            <a id="link-footer-pt3" href="contato.html">FAQ</a>
          </div>
    
          <div class="divisaodofooter2">
            <div class="origemdotrabalho">
              <div class="integrantesdiv">
                <h2 id="itensfooter2">Integrantes:
                  <li id="itemfooter">02 Cauã Santana</li>
                  <li id="itemfooter">07 Gustavo Alves</li>
                  <li id="itemfooter">08 Gustavo Gomes</li>
                  <li id="itemfooter">09 Izabella Oliveira</li>
                  <li id="itemfooter">14 Leandro Afonso Niches</li>
                  <li id="itemfooter">24 Natalia Lima </li>
                  <li id="itemfooter">33 Wellington Cavalcante </li>
                </h2>
              </div>
              <div class="profediscfooter">
                <h2 id="itensfooter2">ITB - FIEB
                  <li id="itemfooter">Brasílio Flores de Azevedo</li>
                </h2>
                <h2 id="itensfooter2">Curso
                  <li id="itemfooter">Informática 2022 - 2024</li>
                </h2>
              </div>
            </div>
    
        </section>
    
      </footer>
    


</body>

</html>